<article>
    <header><h2>Bio</h2></header>
    <section>
        <div class="col-sm-6">
            <div>I was born in Galveston, TX and raised in several locations due 
            to my mother's service in the United States Air Force.
            I was raised in in Portsmouth, N.H., Lajes, Azores, and Sumter, S.C.  
            I have a BS degree in Computer Information Systems from Clemson University. I also 
            have my M.B.A. from the University of Phoenix with a 
            conentration in Information Systems.
            </div>
            <div>
                Before moving here to Katy, TX.  My wife and I lived in Columbia, SC, Pittsburgh, PA and Greensboro/High Point, NC before settling here in Katy, TX.  I currently work as a software developer for a midstream pipeline company in downtown Houston.  
                I have always been passionate about politics.  I have been involved in campaigns at every level since 2000.  I was a state delegate for the North Carolina state convention and I helped re-establish the Greensboro Young Democrats.  
                Since relocating here to Katy, I have followed state and local politics and the issues that affect our state and community.  I believe that 
            </div>
    </div>
    </section>
</article>
