<article>
    <section>
        <div class="col-sm-5">
            <div class="" id="mybox"><img src="././img/durward1.jpg" height="240" width="240"></div>   
            <div class="" id="mybox"><img src="././img/durward1.jpg" height="240" width="240"></div>                   
        </div>  
        <div class="col-sm-5">
        <h3>Hi, I'm Durward White and I'm running for District 28.</h3>
        <p>
            After giving this much thought and discussion with my family.  I've decided to run for the State House District 28 seat.  I have always
        had a passion to help others and to serve and I feel this is a way I can do both.  I don't like the direction that our Governor and legislative leaders have
        taken our state.  From limiting access to health care options for women, especially those who are poor or live in rural areas, to trying to 
        legislate who can use which bathroom or play which sport.  Our current state leadership has moved Texas backwards.  Furthermore, Texas ranks near the bottom 
        in several categories when compared to other states.  For example Texas ranks: 
        </p>
        <ul>
            <li>43rd among states in national education ranking</li> 
            <li>50th among states in terms of access to health care</li> 
            <li>4th best state to do business (down 2 spots)</li>
         </ul>                

        <p>
            So rather than sitting in my office or arguing about politics with people on 
        social media I've decided to do something about it. I'm asking you for your support and your vote. Running and winning an election
        takes a team.  In order to win this race I need your help.  
        </p>  
    </div>  
    </section>
    <section>    
    <div class="col-sm-2">
        <aside>           
            <details open>
                <summary>Top 5 issues</summary>
                <ul>
                    <li>Reducing property taxes</li>
                    <li>Ensuring businesses release information about chemicals stored near population areas</li>
                    <li>Increasing access to health care centers</li>
                    <li>Provide incentives for cities to provide better and more efficient public transportation</li>
                    <li>Provide residents more transparency into M.U.D. districts</li>
                </ul>
            </details>
        </aside>
    </div>
    </section>
</article>
