<article>
    <section>
        <div class="col-sm-8 col-lg-8">
            <div class="" id="mybox"><img src="././img/pushcard4.png"></div>   
        </div>  
        <div class="col-sm-8 col-lg-4">
            <h3 class="statement" >Hi, I'm Durward White and I'm running for the Texas State Legislature District #28.</h3>
        </div> 
    </section>
    <section>    
    <div class="col-sm-4 col-md-4 col-lg-4 issues">
        <summary>Top 5 that I will fight for</summary>
        <ul >
            <li>* To reduce the automatic property tax increase from 8% to 3% per year</li>            
            <li>* To increase the state's commitment to funding public education</li>
            <li>* To end voter discrimination at our polling places</li>
            <li>* To expand Medicaid coverage so that all Texans can have access to quality and affordable healthcare</li>
            <li>* To preserve a woman's right to make medical decisions based on private consultation with her physician</li>
        </ul>
    </div>
    </section>
</article>
