<h1>{{title}}</h1>
<nav class="navbar navbar-inverse">
    <h2 class="sr-only">Navigation Menu</h2>

    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed"></button>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a routerLink="/home">Home</a>
                </li>
                <li><a routerLink="/positions">Positions</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a href="#volunteer">Volunteer</a></li>
                <li><a href="#gallery">Photo Gallery</a></li>
                <li><a target="_blank" href="https://secure.actblue.com/donate/white-for-state-house-28-1">Donate</a></li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
