<div>
<h1>{{title}}</h1>
<article class="issues">       
    <section>
        <div class="col-sm-12 issues">
            <div><u>Property Taxes</u></div>
           Property taxes continue to rise, placing a larger and larger burden on home owners.
           When you buy a house, a majority of homeowners have their property taxes 
           escrowed into their mortgage.  As a homeowner you may even factor in an increase in 
           the property tax as a function of your home's value.  What you don't factor in is that
           your property tax automatically increase 8% year after year.  No on should be taxed out of their home.
        </div>
    </section>
    &nbsp;
    <section>
        <div class="col-sm-12 issues">
            <div><u>Public Education Funding</u></div>
            Last year the Legislature reduced state funds for public education funding by $1.8 billion
            and replaced it with local tax money.  This transfers a bigger burden on school districts 
            to increase taxes on homeowners in the community.  This is in addition to the $5.4 billion 
            dollars in cuts from the 2011 budget.  The state needs to increase funding for public education
            to reduce the burden on local taxpayers.
        </div>
    </section>
    &nbsp;
    <section>
        <div class="col-sm-12 issues">
            <div><u>End Voter Discrimination</u></div>
            Texas needs to repeal the discriminatory SB 5 voter id law.  The law
            places an undue burden on poor and elderly voters to vote in elections by requiring that 
            they produce photo identification before casting a ballot.  
        </div>
    </section>
    &nbsp;
</article>
</div>